body {
  margin: 0;
  display: grid;
  grid-template-columns: 1.9fr 10fr;
  background-color: rgb(33, 33, 33);
}

main {
  display: grid;
  grid-template-rows: 1fr 15;
}

.first_div {
  margin-top: 3%;
}
