---
import Cardsrow from "../components/Cardsrow.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <main>
    <div class="first_div">
      <Cardsrow overskrift="Fokus" />
    </div><Cardsrow overskrift="Spotify Playlists" />
  </main>
</MainLayout>
