---
import "../styles/style.css";
import Headertop from "../components/Headertop.astro";
import Navleft from "../components/Navleft.astro";
import Cardsrow from "../components/Cardsrow.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Navleft />
    <main>
      <Headertop />
      <Cardsrow />
      <!-- <Card titel="Peaceful Piano" text="Relax and indulge with beautiful piano pieces" /> -->
      <!-- <Button variant="primary" size="small">TEXT</Button>
      <Button variant="secondary" size="medium">TEXT</Button>
      <Button variant="secondary" size="large">TEXT</Button> -->
      <!-- <Card header="Hej Verden" /> -->
    </main>
  </body>
</html>
