---
---

<button>Tilmeld dig gratis</button>

<style>
  button {
    border-radius: 25px;
    padding: 1% 2.2% 1% 2.2%;
    font-weight: 600;
    font-size: 90%;
    border: none;
    background-color: rgb(241, 241, 241);
    color: rgb(22, 22, 22);
    position: relative;
    left: 72%;
    top: 18%;
  }
</style>
