---
// const header = Astro.props.header;
// const text = Astro.props.text;

const { titel, text } = Astro.props;
---

<article>
  <img src="https://api.lorem.space/image/album?w=150&h=150&hash=8B7BCDC2" alt="" />
  <h2>{titel}</h2>
  <p>{text}</p>
</article>

<style>
  p {
    color: royalblue;
  }
</style>
