---
---

<article><div class="div_1"><p class="left_arrow">&#8249</p><p>&#8250</p></div><div class="div_2"><button>Tilmeld dig</button><button>Log på</button></div></article>

<style>
  article {
    flex-direction: column;
    background-color: rgb(22, 22, 22);
    width: 100%;
  }

  .left_arrow {
    margin-right: 4%;
  }

  p {
    display: inline;
    color: rgb(208, 208, 208);
    font-size: 3rem;
    margin: 0;
  }
  button {
    border-radius: 25px;
    padding: 1%;
    font-weight: 600;
    font-size: 90%;
    border: none;
    margin: 1%;
  }
  div {
    display: inline;
  }
  .div_1 {
    position: relative;
    left: 8%;
  }

  .div_2 {
    position: relative;
    left: 74%;
  }
  button:first-child {
    background-color: black;
    color: rgb(208, 208, 208);
  }
</style>
