---
---

<article><img src="../../public/logo.png" alt="Logo" /><button>Hjem</button><button>Søg</button><button>Dit bibliotek</button> <div><button>Opret playliste</button><button>Sange, du synes godt...</button></div></article>

<style>
  article {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
  }

  img {
    width: 80%;
    margin: 10%;
    cursor: pointer;
  }

  button {
    margin: 8% 0 2% 14%;
    font-size: 90%;
    color: rgb(208, 208, 208);
    background-color: black;
    border: none;
    cursor: pointer;
    align-self: flex-start;
  }
  div {
    margin-top: 12%;
  }
</style>
