---
---

<article>
  <img src="../../public/logo.png" alt="Logo" /><a href="/"><button>Hjem</button></a><a href="/search"><button>Søg</button></a><button>Dit bibliotek</button>
  <div class="div_2"><button>Opret playliste</button><button>Sange, du synes godt...</button></div>
</article>

<style>
  article {
    position: sticky;
    z-index: 7;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  img {
    width: 80%;
    margin: 10%;
    cursor: pointer;
  }

  button {
    margin: 8% 0 2% 14%;
    font-size: 90%;
    color: rgb(208, 208, 208);
    background-color: black;
    border: none;
    cursor: pointer;
    align-self: flex-start;
  }
  .div_2 {
    margin-top: 12%;
  }
</style>
