---
import "../styles/style.css";
import Headertop from "../components/Headertop.astro";
import Navleft from "../components/Navleft.astro";
import Bottomelement from "../components/Bottomelement.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Headertop />
    <Navleft />
    <slot />
    <footer><Bottomelement /></footer>
    <script src="../js/index.js"></script>
  </body>
</html>
